<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>begin_run01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{841,254}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{841,254}}</string>
                <key>sourceSize</key>
                <string>{855,256}</string>
            </dict>
            <key>begin_run02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2891},{774,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{774,275}}</string>
                <key>sourceSize</key>
                <string>{774,279}</string>
            </dict>
            <key>begin_run03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1277},{798,269}}</string>
                <key>offset</key>
                <string>{-106,-142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,598},{798,269}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{802,261}}</string>
                <key>offset</key>
                <string>{-108,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,595},{802,261}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2624},{776,265}}</string>
                <key>offset</key>
                <string>{-95,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,594},{776,265}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{840,257}}</string>
                <key>offset</key>
                <string>{-127,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,598},{840,257}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3168},{774,275}}</string>
                <key>offset</key>
                <string>{-94,-145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,598},{774,275}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1277},{798,269}}</string>
                <key>offset</key>
                <string>{-106,-142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,598},{798,269}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{802,261}}</string>
                <key>offset</key>
                <string>{-108,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,595},{802,261}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2624},{776,265}}</string>
                <key>offset</key>
                <string>{-95,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,594},{776,265}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run11.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,499},{806,297}}</string>
                <key>offset</key>
                <string>{-110,-121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{432,563},{806,297}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3445},{736,319}}</string>
                <key>offset</key>
                <string>{-75,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{502,536},{736,319}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3766},{630,369}}</string>
                <key>offset</key>
                <string>{-22,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{608,486},{630,369}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3766},{630,369}}</string>
                <key>offset</key>
                <string>{-22,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{608,486},{630,369}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run15.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,4073},{526,397}}</string>
                <key>offset</key>
                <string>{30,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{712,458},{526,397}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run16.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,6153},{516,407}}</string>
                <key>offset</key>
                <string>{35,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{722,450},{516,407}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run17.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,4877},{542,407}}</string>
                <key>offset</key>
                <string>{22,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{696,446},{542,407}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run18.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,3575},{496,415}}</string>
                <key>offset</key>
                <string>{45,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{742,440},{496,415}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run19.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,3575},{496,415}}</string>
                <key>offset</key>
                <string>{45,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{742,440},{496,415}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run20.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,3575},{496,415}}</string>
                <key>offset</key>
                <string>{45,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{742,440},{496,415}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run21.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,7502},{502,461}}</string>
                <key>offset</key>
                <string>{42,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{736,394},{502,461}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run22.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,5286},{494,525}}</string>
                <key>offset</key>
                <string>{46,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{744,328},{494,525}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4137},{502,617}}</string>
                <key>offset</key>
                <string>{42,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{736,236},{502,617}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4641},{502,615}}</string>
                <key>offset</key>
                <string>{42,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{736,241},{502,615}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4641},{502,615}}</string>
                <key>offset</key>
                <string>{42,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{736,241},{502,615}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,5145},{500,607}}</string>
                <key>offset</key>
                <string>{43,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{738,249},{500,607}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,5647},{492,571}}</string>
                <key>offset</key>
                <string>{47,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{746,284},{492,571}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,6141},{506,521}}</string>
                <key>offset</key>
                <string>{40,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{732,334},{506,521}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run29.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,7067},{508,433}}</string>
                <key>offset</key>
                <string>{39,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{730,425},{508,433}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run30.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,7067},{508,433}}</string>
                <key>offset</key>
                <string>{39,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{730,425},{508,433}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run31.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,7067},{508,433}}</string>
                <key>offset</key>
                <string>{39,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{730,425},{508,433}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run32.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,4472},{528,403}}</string>
                <key>offset</key>
                <string>{59,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{740,453},{528,403}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run33.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,3031},{542,381}}</string>
                <key>offset</key>
                <string>{72,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{746,473},{542,381}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run34.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,5782},{564,369}}</string>
                <key>offset</key>
                <string>{69,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{732,485},{564,369}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run35.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1307},{560,359}}</string>
                <key>offset</key>
                <string>{69,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{734,495},{560,359}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run36.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1307},{560,359}}</string>
                <key>offset</key>
                <string>{69,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{734,495},{560,359}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run37.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,5782},{564,369}}</string>
                <key>offset</key>
                <string>{69,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{732,485},{564,369}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run38.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1307},{560,359}}</string>
                <key>offset</key>
                <string>{69,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{734,495},{560,359}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run39.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1307},{560,359}}</string>
                <key>offset</key>
                <string>{69,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{734,495},{560,359}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run40.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,5782},{564,369}}</string>
                <key>offset</key>
                <string>{69,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{732,485},{564,369}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run41.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1307},{560,359}}</string>
                <key>offset</key>
                <string>{69,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{734,495},{560,359}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run42.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1307},{560,359}}</string>
                <key>offset</key>
                <string>{69,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{734,495},{560,359}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run43.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,3031},{542,381}}</string>
                <key>offset</key>
                <string>{72,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{746,473},{542,381}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run44.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,4472},{528,403}}</string>
                <key>offset</key>
                <string>{59,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{740,453},{528,403}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,6649},{508,491}}</string>
                <key>offset</key>
                <string>{39,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{730,367},{508,491}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7142},{502,463}}</string>
                <key>offset</key>
                <string>{42,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{736,392},{502,463}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7607},{502,401}}</string>
                <key>offset</key>
                <string>{42,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{736,454},{502,401}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run48.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,6562},{508,503}}</string>
                <key>offset</key>
                <string>{39,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{730,355},{508,503}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1548},{784,497}}</string>
                <key>offset</key>
                <string>{68,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{621,358},{784,497}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2047},{776,575}}</string>
                <key>offset</key>
                <string>{177,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{734,279},{776,575}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{966,495}}</string>
                <key>offset</key>
                <string>{278,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{740,359},{966,495}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
            <key>begin_run52.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1869},{1160,371}}</string>
                <key>offset</key>
                <string>{365,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{730,487},{1160,371}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>begin.png</string>
            <key>size</key>
            <string>{1163,8012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed76be7b17c9152001090226b0ae461d:7a9f51b664eb1c67cb565912a356f708:041cab572281938af17182556250dd5b$</string>
            <key>textureFileName</key>
            <string>begin.png</string>
        </dict>
    </dict>
</plist>
