<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scooter01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4697},{840,257}}</string>
                <key>offset</key>
                <string>{197,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,598},{840,257}}</string>
                <key>sourceSize</key>
                <string>{1242,1181}</string>
            </dict>
            <key>scooter02.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,564},{774,275}}</string>
                <key>offset</key>
                <string>{231,-145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,598},{774,275}}</string>
                <key>sourceSize</key>
                <string>{1240,1181}</string>
            </dict>
            <key>scooter03.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2226},{798,269}}</string>
                <key>offset</key>
                <string>{219,-142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,598},{798,269}}</string>
                <key>sourceSize</key>
                <string>{1240,1181}</string>
            </dict>
            <key>scooter04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,301},{801,261}}</string>
                <key>offset</key>
                <string>{218,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,595},{801,261}}</string>
                <key>sourceSize</key>
                <string>{1239,1181}</string>
            </dict>
            <key>scooter05.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,841},{776,265}}</string>
                <key>offset</key>
                <string>{231,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,594},{776,265}}</string>
                <key>sourceSize</key>
                <string>{1238,1181}</string>
            </dict>
            <key>scooter06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4697},{840,257}}</string>
                <key>offset</key>
                <string>{197,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,598},{840,257}}</string>
                <key>sourceSize</key>
                <string>{1242,1181}</string>
            </dict>
            <key>scooter07.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1449},{775,275}}</string>
                <key>offset</key>
                <string>{231,-145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{463,598},{775,275}}</string>
                <key>sourceSize</key>
                <string>{1239,1181}</string>
            </dict>
            <key>scooter08.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2226},{798,269}}</string>
                <key>offset</key>
                <string>{220,-142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,598},{798,269}}</string>
                <key>sourceSize</key>
                <string>{1238,1181}</string>
            </dict>
            <key>scooter09.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,4697},{802,261}}</string>
                <key>offset</key>
                <string>{216,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{436,595},{802,261}}</string>
                <key>sourceSize</key>
                <string>{1242,1181}</string>
            </dict>
            <key>scooter10.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1449},{776,264}}</string>
                <key>offset</key>
                <string>{230,-147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{462,595},{776,264}}</string>
                <key>sourceSize</key>
                <string>{1240,1160}</string>
            </dict>
            <key>scooter11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2},{806,297}}</string>
                <key>offset</key>
                <string>{214,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,563},{806,297}}</string>
                <key>sourceSize</key>
                <string>{1242,1181}</string>
            </dict>
            <key>scooter12.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1108},{736,319}}</string>
                <key>offset</key>
                <string>{250,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{502,536},{736,319}}</string>
                <key>sourceSize</key>
                <string>{1240,1181}</string>
            </dict>
            <key>scooter13.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2227},{630,369}}</string>
                <key>offset</key>
                <string>{286,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{572,486},{630,369}}</string>
                <key>sourceSize</key>
                <string>{1202,1181}</string>
            </dict>
            <key>scooter14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1429},{631,369}}</string>
                <key>offset</key>
                <string>{303,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{607,486},{631,369}}</string>
                <key>sourceSize</key>
                <string>{1239,1181}</string>
            </dict>
            <key>scooter15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,5539},{527,397}}</string>
                <key>offset</key>
                <string>{354,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{711,458},{527,397}}</string>
                <key>sourceSize</key>
                <string>{1241,1181}</string>
            </dict>
            <key>scooter16.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,3026},{516,407}}</string>
                <key>offset</key>
                <string>{360,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{722,450},{516,407}}</string>
                <key>sourceSize</key>
                <string>{1240,1181}</string>
            </dict>
            <key>scooter17.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,3544},{543,407}}</string>
                <key>offset</key>
                <string>{346,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{695,446},{543,407}}</string>
                <key>sourceSize</key>
                <string>{1241,1181}</string>
            </dict>
            <key>scooter18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1108},{496,415}}</string>
                <key>offset</key>
                <string>{370,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{742,440},{496,415}}</string>
                <key>sourceSize</key>
                <string>{1240,1181}</string>
            </dict>
            <key>scooter19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,3191},{497,415}}</string>
                <key>offset</key>
                <string>{369,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{741,440},{497,415}}</string>
                <key>sourceSize</key>
                <string>{1241,1181}</string>
            </dict>
            <key>scooter20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1108},{496,415}}</string>
                <key>offset</key>
                <string>{371,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{742,440},{496,415}}</string>
                <key>sourceSize</key>
                <string>{1238,1181}</string>
            </dict>
            <key>scooter21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,3608},{503,461}}</string>
                <key>offset</key>
                <string>{364,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{735,394},{503,461}}</string>
                <key>sourceSize</key>
                <string>{1245,1181}</string>
            </dict>
            <key>scooter22.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,4089},{493,525}}</string>
                <key>offset</key>
                <string>{371,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{745,328},{493,525}}</string>
                <key>sourceSize</key>
                <string>{1241,1181}</string>
            </dict>
            <key>scooter23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2235},{503,617}}</string>
                <key>offset</key>
                <string>{366,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{735,236},{503,617}}</string>
                <key>sourceSize</key>
                <string>{1241,1181}</string>
            </dict>
            <key>scooter24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3471},{502,615}}</string>
                <key>offset</key>
                <string>{366,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{736,241},{502,615}}</string>
                <key>sourceSize</key>
                <string>{1242,1181}</string>
            </dict>
            <key>scooter25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2854},{503,615}}</string>
                <key>offset</key>
                <string>{367,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{735,241},{503,615}}</string>
                <key>sourceSize</key>
                <string>{1239,1181}</string>
            </dict>
            <key>scooter26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4088},{500,607}}</string>
                <key>offset</key>
                <string>{368,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{738,249},{500,607}}</string>
                <key>sourceSize</key>
                <string>{1240,1181}</string>
            </dict>
            <key>scooter27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,1525},{493,571}}</string>
                <key>offset</key>
                <string>{371,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{745,284},{493,571}}</string>
                <key>sourceSize</key>
                <string>{1241,1181}</string>
            </dict>
            <key>scooter28.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,4616},{505,521}}</string>
                <key>offset</key>
                <string>{364,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{733,334},{505,521}}</string>
                <key>sourceSize</key>
                <string>{1243,1181}</string>
            </dict>
            <key>scooter29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,4113},{508,433}}</string>
                <key>offset</key>
                <string>{364,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{730,275},{508,433}}</string>
                <key>sourceSize</key>
                <string>{1240,1031}</string>
            </dict>
            <key>scooter30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,4602},{509,433}}</string>
                <key>offset</key>
                <string>{364,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{729,425},{509,433}}</string>
                <key>sourceSize</key>
                <string>{1239,1181}</string>
            </dict>
            <key>scooter31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,4113},{508,433}}</string>
                <key>offset</key>
                <string>{364,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{730,425},{508,433}}</string>
                <key>sourceSize</key>
                <string>{1240,1181}</string>
            </dict>
            <key>scooter32.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,4073},{527,403}}</string>
                <key>offset</key>
                <string>{370,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{741,453},{527,403}}</string>
                <key>sourceSize</key>
                <string>{1269,1181}</string>
            </dict>
            <key>scooter33.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,5139},{543,381}}</string>
                <key>offset</key>
                <string>{372,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{745,473},{543,381}}</string>
                <key>sourceSize</key>
                <string>{1289,1181}</string>
            </dict>
            <key>scooter34.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2859},{563,369}}</string>
                <key>offset</key>
                <string>{365,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{733,485},{563,369}}</string>
                <key>sourceSize</key>
                <string>{1299,1181}</string>
            </dict>
            <key>scooter35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,2531},{560,359}}</string>
                <key>offset</key>
                <string>{366,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{734,495},{560,359}}</string>
                <key>sourceSize</key>
                <string>{1296,1181}</string>
            </dict>
            <key>scooter36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,2628},{561,359}}</string>
                <key>offset</key>
                <string>{363,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{733,495},{561,359}}</string>
                <key>sourceSize</key>
                <string>{1301,1181}</string>
            </dict>
            <key>scooter37.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2859},{563,369}}</string>
                <key>offset</key>
                <string>{364,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{733,485},{563,369}}</string>
                <key>sourceSize</key>
                <string>{1301,1181}</string>
            </dict>
            <key>scooter38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,2531},{560,359}}</string>
                <key>offset</key>
                <string>{366,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{734,495},{560,359}}</string>
                <key>sourceSize</key>
                <string>{1296,1181}</string>
            </dict>
            <key>scooter39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,2531},{560,359}}</string>
                <key>offset</key>
                <string>{363,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{734,495},{560,359}}</string>
                <key>sourceSize</key>
                <string>{1302,1181}</string>
            </dict>
            <key>scooter40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,2062},{564,369}}</string>
                <key>offset</key>
                <string>{364,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{732,485},{564,369}}</string>
                <key>sourceSize</key>
                <string>{1300,1181}</string>
            </dict>
            <key>scooter41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,2531},{560,359}}</string>
                <key>offset</key>
                <string>{365,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{734,495},{560,359}}</string>
                <key>sourceSize</key>
                <string>{1298,1181}</string>
            </dict>
            <key>scooter42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,2628},{561,359}}</string>
                <key>offset</key>
                <string>{366,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{733,495},{561,359}}</string>
                <key>sourceSize</key>
                <string>{1295,1181}</string>
            </dict>
            <key>scooter43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,5059},{542,381}}</string>
                <key>offset</key>
                <string>{371,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{746,473},{542,381}}</string>
                <key>sourceSize</key>
                <string>{1292,1181}</string>
            </dict>
            <key>scooter44.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,5522},{528,403}}</string>
                <key>offset</key>
                <string>{370,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{740,453},{528,403}}</string>
                <key>sourceSize</key>
                <string>{1268,1181}</string>
            </dict>
            <key>scooter45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,2020},{509,491}}</string>
                <key>offset</key>
                <string>{363,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{729,367},{509,491}}</string>
                <key>sourceSize</key>
                <string>{1241,1181}</string>
            </dict>
            <key>scooter46.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,3608},{502,463}}</string>
                <key>offset</key>
                <string>{367,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{736,392},{502,463}}</string>
                <key>sourceSize</key>
                <string>{1240,1181}</string>
            </dict>
            <key>scooter47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,5113},{503,401}}</string>
                <key>offset</key>
                <string>{366,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{735,454},{503,401}}</string>
                <key>sourceSize</key>
                <string>{1241,1181}</string>
            </dict>
            <key>scooter48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,4548},{509,503}}</string>
                <key>offset</key>
                <string>{362,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{729,355},{509,503}}</string>
                <key>sourceSize</key>
                <string>{1243,1181}</string>
            </dict>
            <key>scooter49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1449},{784,497}}</string>
                <key>offset</key>
                <string>{307,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{621,358},{784,497}}</string>
                <key>sourceSize</key>
                <string>{1412,1181}</string>
            </dict>
            <key>scooter50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{776,575}}</string>
                <key>offset</key>
                <string>{365,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{734,279},{776,575}}</string>
                <key>sourceSize</key>
                <string>{1514,1181}</string>
            </dict>
            <key>scooter51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{967,495}}</string>
                <key>offset</key>
                <string>{367,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{739,359},{967,495}}</string>
                <key>sourceSize</key>
                <string>{1711,1181}</string>
            </dict>
            <key>scooter52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1160,371}}</string>
                <key>offset</key>
                <string>{365,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{730,487},{1160,371}}</string>
                <key>sourceSize</key>
                <string>{1890,1181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scotter.png</string>
            <key>size</key>
            <string>{2016,5938}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f814dac568e6728cce9655b30528b13c:513b96dcd16dfd1a5e0624216ac0427a:a8e25f75ed4d46dfedfc9a062bd2c99b$</string>
            <key>textureFileName</key>
            <string>scotter.png</string>
        </dict>
    </dict>
</plist>
